@charset "UTF-8";
*{
    margin:0;
    padding:10px;
   border:0;
    outline:0;
    color:white;
}
body {
	font-family: "Lucida", cursive;
	background-size:cover;
	background-image:url(Pictures/p2.jpeg);
}
header{
	width:100%;
	height:250px;
	font-family: "Papyrus", fantasy;
	background-size:cover;
	background-position:center;

}
.e1{
	font-size: 70px;
}
.f-s{
	float:right;
	width: 34%;

	
}
.s1{
	float:right;
	width: 34%;
	line-height:40px;
	
	padding:10px;


}
.s2{
	
	padding:10px;

}

h1
{
	color:black;
	text-align:center;
	font-size:100px;
	line-height:300px;
	background-image:url(Pictures/p1.jpeg);
	background-size:cover;
	background-position:center;
}
h3
{
	color:black;
	text-align:center;
	font-size: 45px;
	font-family: "Times New Roman", San-serif;

}
p{
	font-size:30px;
	line-height: 40px;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:url(Pictures/skills.jpeg); 
    background-size:cover;
    font-size: 24px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

li a:hover {
    background-color: black;
}


