@charset "UTF-8";
*{
    margin:0;
    padding:10px;
   border:0;
    outline:0;
    color:white;
}
body {
	background-image:url(back.jpeg);
	background-size:cover;
	background-color: black;
	
}

.e1{
	font-size: 70px;
	text-align: center;
}
#e2{
	font-size: 40px;
	text-align: center;

}
.f-s{
	float:right;
	width: 30%;
	height: 20%;
	margin-top: 14cm;

	
}

.s2{
	line-height: 40px;
	padding:0px;


}
h1
{
	color:white;
	text-align:center;
	font-size: 80px;
	line-height:500px;
	background-image:url(main.jpeg);
	background-size:cover;
	background-position:center;
}
h2
{
	color:white;
	line-height: 22px;
	font-size: 45px;
	
	

}
p{
	font-size:30px;
	line-height: 40px;
	
}

ul {
    list-style-type:none;
margin-top:-1cm;   
    font-size: 24px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 14px;
    text-decoration: none;
    font-size: 34px;
}

li a:hover {
    background-color: black;
}
.s3{
	
	background-size:cover;
	background-position:center;
	padding-inline-start: 20px;
	
}



