@charset "UTF-8";
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    color:white;
}
h1{
	color:black;
	font-family: "Courier New", monospace
}
.head{
	font-size: 45px;

}

body {
	font-family: Papyrus, fantasy;
	background-size:cover;
	background-image:url(Pictures/xp.jpeg);
}
header{
	width:100%;
	height:230px;
	font-family: "Snell Roundhand", cursive;
	text-align: center;
}
p{
	font-size:40px;
	line-height: 40px;
	color:black;
	font-family:"Trattatello", fantasy;
}
u
.link{
	color:white;
}